.center-container {
  height: 50px; /* Cette propriété assure que le conteneur occupe toute la hauteur de l'écran. */
  display: flex;
  justify-content: center;
  color: rgb(237, 237, 237);
  margin-left: 0px;
  padding-left: 70px;
  margin-top: -10px;
  margin-bottom: 70px;
}

.centered-button {
  /* Styles pour le bouton, par exemple : */
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 120px;
}
