.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
      color: whitesmoke;
      margin-top: 50px;
      margin-bottom: 100px;

    }

  
    .cont-img {
      border-radius: 80%; 
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color:white;
      width:fit-content;
      background-size: cover;
      margin-right: 10px;
      padding-right: 150px;
    }
    .cont-img:hover {
      transform: scale(1.2); /* Enlarges the element on hover */
    }
.skill-name{
  margin:15px;
}

    h1 {
      text-align: center;
      color: white;

    }
.Skills-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.subskills {
  color: green;
}