*{
	margin: 0;
	padding: 0;
  font-size: 25px;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Teko', sans-serif;
  
}
#root{
  overflow: hidden;

}
table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}
.imagelist {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.imagelist img {
  width: 20%;
  height: max-content;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d9d9d9;
}

li {
  width:fit-content;
  height: fit-content;
	margin:40px;
	color: #79A1D9;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 25px;
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 40px;
  box-shadow: 0 4px 8px 0 rgba(161, 0, 0, 0.2);
}

.flip-card-front {
  background-color: #8F9FFF;
  color: white;
  flex-flow:wrap;
  font-size: 15px;
  box-sizing: border-box;
}


.flip-card-back {
  background-color: #89CFF0;
  color: white;
  transform: rotateY(180deg);
  font-size: 15px;
}
.cards {
  display: flex;
  margin: -30px;
  margin-top: 10px;
  justify-content: center;
  justify-content: space-evenly;
}
h1 {
	font-size: 50px;
  text-align: center;
  color: white;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -50px;
  margin: -30px;
  margin-bottom: 40px;
}

.arrow {
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.card2 {
  display: none;
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(161, 0, 0, 0.2);
  transition: 0.3s;
  width: 900px;
  height: 500px;
  text-align: center;
  border-radius: 100px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(217, 11, 11, 0.2).2;
}


.card1 {
  margin: -5px;
}
.container {
  display: flex;
  padding: 6px 30px;
  text-align: center;
  justify-content: space-between;
}
.container2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
}
.card p {
  text-align: justify;
  color: #8F9FFF;
}
.titles {
  color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.title-flex {
  display: flex;
  justify-content: space-between;
}

.date {
  padding: 30px;
  margin-top:10px;
  margin-left: 40px;
	color: #8F9FFF;
}

.title-project {
  font-size: 30px;
}

.arrow-container {
  display: flex;
  padding: 2px;
  border-radius: 50%;
 align-items: center;
 justify-content: center;
}
.arrow {
  display: flex;
  justify-content: center;


}
@media screen and (max-width:600px){
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
  .flip-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    /* margin-bottom: 100px; */
  }

  .card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(161, 0, 0, 0.2);
    transition: 0.3s;
    width: 550px;
    height: fit-content;
    text-align: center;
    border-radius: 100px;
  }
  .paragraph {
    color:#79A1D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 80%;
    font-size: 15px;
    text-align: justify;
  }
  .arrow {
    margin-left: 50;
    margin-right: 50;
  }
  .arrow-container {
    display: flex;
    padding: 2px;
    border-radius: 50%;
  }
  .arrow {
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .card2 {
    display: none;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill-container {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
}

@media screen (min-width: 360px) and (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .flip-card,
  .flip-card-front,
  .flip-card-back {
    height: 120%;
    width: 110%;
    display: flex;
    flex-direction: column;
  }

  .flip-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: transparent; */
    width: 300px;
    height: 300px;
    perspective: 1000px;

  }

  .card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(161, 0, 0, 0.2);
    transition: 0.3s;
    width: 650px;
    height: 650px;
    text-align: center;
    border-radius: 100px;
  }

  .paragraph {
    color: #79a1d9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 80%;
    font-size: 15px;
  }

  .arrow-container {
    display: flex;
    padding: 2px;
    border-radius: 50%;
    justify-content: center;
    margin-top: 10px;
  }

  .arrow {
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
  }

  .card2 {
    display: none;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill-container {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  /* Additional styles for screens smaller than 600px can go here, if needed */
}

/* @media screen and (max-width: 767px) {
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }
  .flip-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-bottom: 100px;
  }
  .flip-card-front,
  .flip-card-back {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 10px; /* Add some space between the cards */

 
  /* .card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(161, 0, 0, 0.2);
    transition: 0.3s;
    width: 700px;
    height: 500px;
    text-align: center;
    border-radius: 100px;
  }
  .paragraph {
    color:#79A1D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    width: 80%;
    font-size: 15px;
  }
  .arrow {
    margin-left: 50;
    margin-right: 50;
  }
  .arrow-container {
    display: flex;
    padding: 2px;
    border-radius: 50%;
  }
  .arrow {
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .card2 {
    display: none;
  }

  .container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .skill-container {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  } */




/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
